/*--------------------------FLEX BOX-----------------------*/
.flex{
	display: flex;
}

.flex-j-c{
	justify-content: center;

}
.flex-al-s{
	align-items: flex-start;
}

.flex-al-c{
	align-items: center;
}
.flex-al-end{
	align-items: flex-end;
}

.flex-wrap{
	flex-wrap: wrap;
}

.flex-dir-col{
	flex-direction: column;
}

.flex-alc-s{
	align-content: flex-start;
}
